// Global component styles
html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
	font-size: 12px;
}

a {
	&:focus {
		outline: none;
	}
	&:hover {
		text-decoration: none;
	}
}

.btn-sm {
	font-size: 12px;
}

.table th, .table td {
    vertical-align: middle;
}

.medium {
	font-size: 100%;
}

.xx-large {
	font-size: xx-large;
}

// Set container padding to match gutter width instead of default 15px
.container, .container-fluid {
	padding-left: $grid-gutter-width;
	padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
	width: 2.75rem;
	height: 2.75rem;
	text-align: center;
	color: $white;
	background: fade-out($gray-800, .5);
	line-height: 46px;

	&:focus, &:hover {
		color: white;
	}

	&:hover {
		background: $gray-800;
	}

	i {
		font-weight: 800;
	}
}

// Main page wrapper
#wrapper {
	display: flex;

	#content-wrapper {
		background-color: $gray-100;
		width: 100%;
		overflow-x: hidden;

		#content {
			flex: 1 0 auto;
		}
	}
}

.bootstrap-select {
	.btn.dropdown-toggle.btn-light {
		border: 1px solid #d1d3e2;
	}
}
